<div class="container" id="passwordChangeForm" ng-controller="ChangePasswordCtrl">
    <ul class="list-group text-muted h4 col-md-6 col-md-offset-3">
        <p>{{ message.success }}</p>
        <p>{{ message.failure }}</p>
        <li class="list-group-item login-header">
            <span class="pull-left glyphicon glyphicon-piggy-bank"></span>
            <p><strong>Change password</strong></p>
        </li>
        <li class="list-group-item">
            <div class="form-group">
                <div class="input-group name-input col-md-10 col-md-offset-1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input class="form-control" ng-model="oldPassword" name="oldPassword" type="password" pattern="[0-9A-Za-z]{6,18}" placeholder="Old password"
                           required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group col-md-10 col-md-offset-1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input class="form-control" ng-model="newPassword" name="newPassword" type="password" pattern="[0-9A-Za-z]{6,18}"
                           placeholder="New password" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group col-md-10 col-md-offset-1">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                    <input class="form-control" ng-model="validateNewPassword" name="newPasswordValidation" type="password"
                           pattern="[0-9A-Za-z]{6,18}"
                           placeholder="Validate new password" required>
                </div>
            </div>
            <div class="input-group col-md-4 col-md-offset-4">
                <div class="form-group">
                    <button ng-click="changePassword(oldPassword, newPassword, validateNewPassword)" class="btn btn-primary btn-block"><strong>Change</strong></button>
                </div>
            </div>
        </li>
    </ul>
</div>